{% extends "base.html" %}
{% load static %}
{% block body %}
 <!-- start card -->
 <div class="card">
    <h2 class="Links">Signup Page</h2>
    {% if Error %}
    <h3 class="danger">{{Error}}</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input class="text" type="text" placeholder="Enter Your Username" name="username" required>
        <input class="text" type="password" placeholder="Enter Your Password" name="password1" required>
        <input class="text" type="password" placeholder="Confirm Your Password" name="password2" required>


        <button type="submit" class="submit download">Sign Up</button>
    </form> <!--form end-->
    

    <!-- start logo img -->
    <div class="image">
        <img src="{% static "./image/IMG-20230201-WA0029.jpg" %}" alt="">
    </div><!--image end-->

</div><!--card end-->

{% endblock body %}